* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 500px;
}

.theme {
    display: flex;
}

.toggle {
    background-color: black;
    height: 20px;
}

.header {
    flex: 1;
}

.cal-container {
    margin: auto;
    width: 50%;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    flex-basis: 21%;
    padding: 10px;
}

#reset-button,
#equals-button {
    flex-basis: 1;
}