* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 700px;
    background-color: hsl(222, 26%, 31%);
    text-transform: uppercase;
}

.theme {
    display: flex;
    flex-wrap: wrap;
}

h2 {
    flex: 60%;
    text-transform: lowercase;
    color: white;
}

.theme-number {
    flex: 40%;
    color: white;
}

P {
    align-self: flex-end;
}

.switch {
    word-spacing: 20px;
}

.toggle {
    display: flex;
    justify-content: space-between;
}

.bar {
    padding: 10px;
    background-color: black;
    position: relative;
    border-radius: 10px;
}

.circle {
    position: absolute;
    background-color: white;
    padding: 7px;
    border-radius: 50%;
    left: 0;
    top: 0
}

h2 {
    background-color: green;
}

span {
    flex: 30%;
}

.cal-container {
    margin: auto;
    width: 400px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    flex-basis: 17%;
    padding: 10px;
    margin: 10px;
}

#reset-button,
#equals-button {
    flex-basis: 43.7%
}

.output {
    height: 100px;
    background-color: black;
    margin: 15px 0
}