* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 500px;
}

.theme {
    display: flex;
    flex-wrap: wrap;
}

.toggle {
    background-color: black;
    height: 20px;
}

h2 {
    flex: 50%;
    align-self: center;
    font-size: 20px;
}

.theme-number {}

.number-toggle {
    float: right;
}

span {
    flex: 30%;
}

.cal-container {
    margin: auto;
    width: 500px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    flex-basis: 17%;
    padding: 10px;
    margin: 10px;
}

#reset-button,
#equals-button {
    flex-basis: 43.7%
}

.output {
    height: 100px;
    background-color: black;
    margin: 15px 0
}