* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 500px;
}

.theme {
    display: flex;
    flex-wrap: wrap;
}

h2 {
    flex: 60%;
}

.theme-number {
    flex: 40%;
    word-spacing: ;
}

.toggle {
    display: flex;
    justify-content: space-between;
}

.bar {
    height: 20px;
    width: 100px;
    background-color: black;
}

h2 {
    background-color: green;
}

span {
    flex: 30%;
}

.cal-container {
    margin: auto;
    width: 500px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    flex-basis: 17%;
    padding: 10px;
    margin: 10px;
}

#reset-button,
#equals-button {
    flex-basis: 43.7%
}

.output {
    height: 100px;
    background-color: black;
    margin: 15px 0
}