* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 500px;
}

.theme {
    display: flex;
}

.toggle {
    background-color: black;
    height: 50;
}

.theme-number {}

.header {
    flex: 1;
}

.cal-container {
    width: 50%;
    margin: auto;
}